<html>
  <head>
    <title>crowd detection</title>
  </head>
  <body>
  <div>
    <a href="http://127.0.0.1:8000/">Home</a>
  </div>
    <br><br>
    <div align="center">
      <h1 align="center">crowd detection</h1>
      <img id="bg" src="{{ url_for('video_feed')}}" width="50%" height="50%" border="2">
    </div>
  </body>
</html>
<script>
setInterval(function(){
window.open('http://127.0.0.1:8070/', "_self")
}, 30000);
</script>